name: Deploy RoAdmin Bot

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Google Cloud VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          debug: true
          envs: DISCORD_TOKEN
          script: |
            if [ ! -d ~/RoAdmin ]; then
              git clone https://github.com/KhanPython/RoAdmin.git ~/RoAdmin
            fi
            cd ~/RoAdmin
            git pull origin master
            echo "DISCORD_TOKEN=\"${{ secrets.DISCORD_TOKEN }}\"" > .env
            npm install --production
            pm2 restart RoAdmin --update-env || pm2 start src/index.js --name "RoAdmin"
